## CMPINF 2100 Fall 2021 - Week 03

### Intro to NumPy

In [1]:
import numpy as np

## The NumPy ndarray

### 1D array

Start with the `np.arange()` to create a 1D array.

In [2]:
%whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

In [3]:
np.arange(6)

array([0, 1, 2, 3, 4, 5])

In [4]:
list( range(6) )

[0, 1, 2, 3, 4, 5]

In [5]:
type( list(range(6) ) )

list

In [6]:
a = np.arange(6)

In [7]:
print( type(a) )

<class 'numpy.ndarray'>

In [8]:
[1, 1.0, '1.0', [1., '1']]

[1, 1.0, '1.0', [1.0, '1']]

We can index and slice an array just like a list.

In [9]:
print( a[0] )

0

In [10]:
print( a[1] )

1

In [11]:
type( a[0] )

numpy.int32

In [12]:
print( type(a[1]) )

<class 'numpy.int32'>

In [13]:
print( a[0:2] )

[0 1]

In [14]:
print( a[:3] )

[0 1 2]

The array has its own set of attributes and methods completely different from the list.

Basic attributes help us understand the **dimensionality** of the object.

In [15]:
a.ndim # number of dimensions

1

In [16]:
a.shape # number of elements in each dimension

(6,)

In [17]:
a.size # the total number of elements in the object

6

### Other ways to create 1D arrays

Convert a list into an array.

In [18]:
a1 = np.array([1, 2, 3, 4, 5])

In [19]:
type([1, 2, 3, 4, 5])

list

In [20]:
type(a1)

numpy.ndarray

In [21]:
print( a1.size )

5

In [22]:
print( a1.shape )

(5,)

Convert a tuple into an array.

In [23]:
a2 = np.array((1, 2, 3, 4, 5))

In [24]:
type(a2)

numpy.ndarray

In [25]:
%whos

Variable   Type       Data/Info
-------------------------------
a          ndarray    6: 6 elems, type `int32`, 24 bytes
a1         ndarray    5: 5 elems, type `int32`, 20 bytes
a2         ndarray    5: 5 elems, type `int32`, 20 bytes
np         module     <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

There are specialty methods to create arrays of zeros and ones.

In [26]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [27]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [28]:
0 * np.array([1, 2, 3, 4, 5])

array([0, 0, 0, 0, 0])

Operators that we have used before may not operate in the same way.

In [29]:
[1, 2, 3, 4] == [1, 2, 3, 4]

True

In [30]:
np.zeros(5) == 0 * np.array([1, 2, 3, 4, 5])

array([ True,  True,  True,  True,  True])

In [31]:
np.zeros(3) == 0 * np.array([1, 2, 3, 4, 5])

C:\Users\jyurk\AppData\Local\Temp/ipykernel_5820/3525124894.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  np.zeros(3) == 0 * np.array([1, 2, 3, 4, 5])

False

In [32]:
np.array([0, 2, 3, 4, 5]) == np.array([1, 2, 3, 4, 5])

array([False,  True,  True,  True,  True])

The `np.arange()` function has 3 main arguments. Start, Stop, and a step.

The STOP is EXCLUSIVE. `np.arange()` generates an array from START to STOP-1

In [33]:
np.arange(1, 12)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [34]:
np.arange(1, 12, 3)

array([ 1,  4,  7, 10])

In [35]:
np.arange(1, 100, 20)

array([ 1, 21, 41, 61, 81])

In [36]:
np.arange(0, 100, 20)

array([ 0, 20, 40, 60, 80])

In [37]:
np.arange(0, 101, 20)

array([  0,  20,  40,  60,  80, 100])

The `np.linspace()` function creates an array from START to STOP (inclusive) for a specified uniform number of points.

In [40]:
np.linspace(0, 10, num=5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [41]:
np.linspace(0, 10, num=10)

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [42]:
np.linspace(0, 10, num=11)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

## MultiDimensional Array

### 2D array -- MATRIX

Let's start with a list of lists.

In [43]:
[[0, 0, 0], [1, 1, 1]]

[[0, 0, 0], [1, 1, 1]]

In [44]:
[[0, 0, 0], 
 [1, 1, 1]]

[[0, 0, 0], [1, 1, 1]]

In [45]:
my_list_of_lists = [ [0, 0, 0], 
                     [1, 1, 1] ]

In [46]:
print( my_list_of_lists )

[[0, 0, 0], [1, 1, 1]]

Convert the list of lists into an array.

In [47]:
my_array = np.array( my_list_of_lists )

In [48]:
print(my_array)

[[0 0 0]
 [1 1 1]]

In [49]:
my_array.shape

(2, 3)

In [50]:
my_array.ndim

2

In [51]:
np.array( [ [1, 1, 1], [2, 2, 2, 2, 2, 2]] )

C:\Users\jyurk\AppData\Local\Temp/ipykernel_5820/317257591.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array( [ [1, 1, 1], [2, 2, 2, 2, 2, 2]] )

array([list([1, 1, 1]), list([2, 2, 2, 2, 2, 2])], dtype=object)

In [52]:
my_array.size

6

In [53]:
my_array.shape[0]

2

In [54]:
my_array.shape[0] * my_array.shape[1]

6

In [55]:
type( my_array.shape )

tuple

### Slicing 2D arrays

In [56]:
a[ :3 ]

array([0, 1, 2])

In [57]:
a

array([0, 1, 2, 3, 4, 5])

In [58]:
a[ 3 ]

3

In [59]:
a[ 0 ]

0

In [60]:
my_array[ 0 ]

array([0, 0, 0])

In [61]:
my_array[1]

array([1, 1, 1])

This is a shortcut for specifying a single row but ALL columns.

In [62]:
my_array[0, :]

array([0, 0, 0])

In [63]:
my_array[0 ]

array([0, 0, 0])

In [64]:
my_array[:, 0]

array([0, 1])

In [65]:
my_array

array([[0, 0, 0],
       [1, 1, 1]])

In [66]:
my_array[2] ### this is NOT the 2nd column

IndexError: index 2 is out of bounds for axis 0 with size 2

In [67]:
my_array[:, 2]

array([0, 1])

If we want a single element - a row, column position - we need two indexes.

In [68]:
my_array[0, 0]

0

In [69]:
my_array[0, 1]

0

In [70]:
my_array[0, 2]

0

Conditionally subset - filter by a value.

In [71]:
a

array([0, 1, 2, 3, 4, 5])

In [72]:
a[ a<= 2]

array([0, 1, 2])

In [73]:
a <= 2

array([ True,  True,  True, False, False, False])

In [74]:
a_mask = a <= 2

a[ a_mask ]

array([0, 1, 2])

In [75]:
my_array[ my_array[:, 0] < 1, : ]

array([[0, 0, 0]])

In [76]:
my_array[0]

array([0, 0, 0])

In [77]:
my_array[:, 0]

array([0, 1])

In [78]:
my_array[:, 0] < 1

array([ True, False])

Let's make another array but with 3 rows.

In [79]:
my_array_1 = np.array( [ [0, 0, 0], [1, 1, 1], [2, 2, 2] ] )

In [80]:
print( my_array_1 )

[[0 0 0]
 [1 1 1]
 [2 2 2]]

In [81]:
my_array_1[0, 0]

0

In [82]:
my_array_1[0, 1]

0

In [83]:
my_array_1[1, 0]

1

Slice or subset a smaller array from the larger array.

In [84]:
small_array = my_array_1[:, :2]

In [85]:
small_array

array([[0, 0],
       [1, 1],
       [2, 2]])

In [86]:
print( small_array )

[[0 0]
 [1 1]
 [2 2]]

Arrays are mutable.

In [87]:
small_array[0, 0] = 101

small_array[2, 1] = -101

In [88]:
print( small_array )

[[ 101    0]
 [   1    1]
 [   2 -101]]

Let's check the original larger array...

In [89]:
my_array_1

array([[ 101,    0,    0],
       [   1,    1,    1],
       [   2, -101,    2]])

I prefer to make a hard or DEEP copy when I subset.

In [90]:
copy_array = my_array_1[:, :2].copy()

In [91]:
copy_array

array([[ 101,    0],
       [   1,    1],
       [   2, -101]])

In [92]:
copy_array[0, 0] = -201

copy_array[1, 1] = 505

In [93]:
copy_array

array([[-201,    0],
       [   1,  505],
       [   2, -101]])

In [94]:
my_array_1

array([[ 101,    0,    0],
       [   1,    1,    1],
       [   2, -101,    2]])

## Concatenate arrays

In [95]:
my_1d_array = np.array([1, 2, 3])

my_1d_array_b = np.array([3, 2, 1])

In [96]:
np.concatenate( [ my_1d_array, my_1d_array_b] )

array([1, 2, 3, 3, 2, 1])

In [97]:
np.concatenate( [ [my_1d_array], [my_1d_array_b] ] )

array([[1, 2, 3],
       [3, 2, 1]])

In [98]:
np.concatenate( [ [my_1d_array], [my_1d_array_b] ] ).ndim

2

In [99]:
np.concatenate( [ [my_1d_array], [my_1d_array_b] ] ).shape

(2, 3)

combining 2D arrays.

In [100]:
b_2d_a = np.array([ [0, 0, 0], [1, 1, 1] ])

b_2d_b = np.array([ [2, 2, 2], [3, 3, 3]])

In [101]:
print( b_2d_a )

print('------')

print( b_2d_b )

[[0 0 0]
 [1 1 1]]
------
[[2 2 2]
 [3 3 3]]

In [102]:
np.vstack((b_2d_a, b_2d_b))

array([[0, 0, 0],
       [1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [103]:
np.vstack((b_2d_a, b_2d_b)).ndim

2

In [104]:
np.vstack((b_2d_a, b_2d_b)).shape

(4, 3)

In [105]:
np.hstack( (b_2d_a, b_2d_b) )

array([[0, 0, 0, 2, 2, 2],
       [1, 1, 1, 3, 3, 3]])

In [106]:
np.hstack( (b_2d_a, b_2d_b) ).shape

(2, 6)

In [107]:
np.hstack( [b_2d_a, b_2d_b] )

array([[0, 0, 0, 2, 2, 2],
       [1, 1, 1, 3, 3, 3]])

In [108]:
yy = np.hstack( [b_2d_a, b_2d_b] )

In [109]:
yy[0, 0] = -1000

In [110]:
yy

array([[-1000,     0,     0,     2,     2,     2],
       [    1,     1,     1,     3,     3,     3]])

In [111]:
zz = np.hstack( (b_2d_a, b_2d_b) )

In [112]:
zz[0, 0] = -1000

In [113]:
zz

array([[-1000,     0,     0,     2,     2,     2],
       [    1,     1,     1,     3,     3,     3]])

In [114]:
b_2d_a

array([[0, 0, 0],
       [1, 1, 1]])

### Reshaping

In [115]:
np.arange(1, 25)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [116]:
np.arange(1, 25).ndim

1

In [117]:
np.arange(1, 25).size

24

Turn into a 2D array with the `.reshape()` method.

In [118]:
np.arange(1, 25).reshape(2, 12)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [119]:
np.arange(1, 25).reshape(12, 2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16],
       [17, 18],
       [19, 20],
       [21, 22],
       [23, 24]])

In [120]:
np.arange(1, 25).reshape(12, 2).shape

(12, 2)

In [121]:
np.arange(1, 25).reshape(12, 2).size

24

In [122]:
np.arange(1, 25).reshape(2, 12).size

24

In [123]:
np.arange(1, 25).reshape(6, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [124]:
np.arange(1, 25).reshape(8, -1)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24]])

In [125]:
np.arange(1, 25).reshape(-1, 8)

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24]])

In [126]:
np.arange(1, 25).reshape(9, -1)

ValueError: cannot reshape array of size 24 into shape (9,newaxis)

### Array summary operations

In [127]:
X = np.arange(0, 24).reshape(6, -1)

In [128]:
print( X )

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]

In [129]:
X.shape

(6, 4)

In [130]:
X.max()

23

In [131]:
X.min()

0

In [132]:
X.max(axis=0) # applying the method per column - or down the row

array([20, 21, 22, 23])

In [133]:
X.min(axis=0)

array([0, 1, 2, 3])

In [134]:
X.max(axis=1) # applying the method per row

array([ 3,  7, 11, 15, 19, 23])

In [136]:
X.min(axis=1)

array([ 0,  4,  8, 12, 16, 20])

In [137]:
X.mean()

11.5

In [138]:
X.mean(axis=0)

array([10., 11., 12., 13.])