## CMPINF 2100 Fall 2021 - Week 04

### Introduction to Pandas - Series and DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
%whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd         module    <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

## Pandas Series

In [3]:
grocery_list = [ 'milk', 'bananas', 'apples', 'lunch meat', 'soup', 'oreos' ]

In [4]:
print(type(grocery_list))

<class 'list'>

In [5]:
print( grocery_list )

['milk', 'bananas', 'apples', 'lunch meat', 'soup', 'oreos']

In [6]:
grocery_list[0]

'milk'

In [7]:
grocery_list[:2]

['milk', 'bananas']

Convert the list a Pandas Series.

In [8]:
grocery_series = pd.Series( grocery_list )

In [9]:
%whos

Variable         Type      Data/Info
------------------------------------
grocery_list     list      n=6
grocery_series   Series    0          milk\n1       <...>     oreos\ndtype: object
np               module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd               module    <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [10]:
print( type(grocery_series) )

<class 'pandas.core.series.Series'>

In [11]:
grocery_series

0          milk
1       bananas
2        apples
3    lunch meat
4          soup
5         oreos
dtype: object

In [12]:
grocery_series.index

RangeIndex(start=0, stop=6, step=1)

In [13]:
grocery_series[0]

'milk'

In [14]:
grocery_series[1]

'bananas'

In [15]:
grocery_list[0]

'milk'

We can change the index if we would like.

In [16]:
str_index = [str(n) for n in range(6)]

In [17]:
str_index

['0', '1', '2', '3', '4', '5']

In [18]:
grocery_series.index = str_index

In [19]:
grocery_series.index

Index(['0', '1', '2', '3', '4', '5'], dtype='object')

In [20]:
grocery_series[0]

'milk'

In [21]:
grocery_series['0']

'milk'

In [22]:
grocery_series

0          milk
1       bananas
2        apples
3    lunch meat
4          soup
5         oreos
dtype: object

Make another series where we define the index attribute with the Series object upon creation.

In [23]:
more_groceries = pd.Series(['apple juice', 'poptarts', 'butter', 'yogurt'],
                           index=['item 1', 'item 2', 'item 3', 'item D'])

In [24]:
print( type(more_groceries) )

<class 'pandas.core.series.Series'>

In [25]:
more_groceries

item 1    apple juice
item 2       poptarts
item 3         butter
item D         yogurt
dtype: object

In [26]:
more_groceries[0]

'apple juice'

In [27]:
more_groceries['item 1']

'apple juice'

In [28]:
more_groceries['item D']

'yogurt'

In [29]:
more_groceries.index

Index(['item 1', 'item 2', 'item 3', 'item D'], dtype='object')

The index values or labels can repeat.

In [30]:
another_series = pd.Series(['a', 'b', 'c'], index = ['1', '2', '2'])

In [31]:
another_series

1    a
2    b
2    c
dtype: object

In [32]:
another_series[2]

'c'

In [33]:
another_series['2']

2    b
2    c
dtype: object

## The DataFrame

Let's start by defining a dictionary.

In [34]:
baseball_dict = {'City': ['Pittsburgh', 'Cincinnati', 'Chicago', 'St. Louis', 'Milwaukee'],
                 'Team': ['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers'], 
                 'Division': 5 * ['Central'],
                 'League': 5 * ['NL']}

In [35]:
baseball_dict

{'City': ['Pittsburgh', 'Cincinnati', 'Chicago', 'St. Louis', 'Milwaukee'],
 'Team': ['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers'],
 'Division': ['Central', 'Central', 'Central', 'Central', 'Central'],
 'League': ['NL', 'NL', 'NL', 'NL', 'NL']}

In [36]:
print( baseball_dict )

{'City': ['Pittsburgh', 'Cincinnati', 'Chicago', 'St. Louis', 'Milwaukee'], 'Team': ['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers'], 'Division': ['Central', 'Central', 'Central', 'Central', 'Central'], 'League': ['NL', 'NL', 'NL', 'NL', 'NL']}

In [37]:
baseball_dict['Team']

['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers']

Convert the dictionary to a DataFrame.

In [38]:
baseball_df = pd.DataFrame( baseball_dict )

In [39]:
%whos

Variable         Type         Data/Info
---------------------------------------
another_series   Series       1    a\n2    b\n2    c\ndtype: object
baseball_df      DataFrame             City       Team <...>  Brewers  Central     NL
baseball_dict    dict         n=4
grocery_list     list         n=6
grocery_series   Series       0          milk\n1       <...>     oreos\ndtype: object
more_groceries   Series       item 1    apple juice\nit<...>    yogurt\ndtype: object
np               module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd               module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
str_index        list         n=6

In [40]:
print( baseball_df )

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

In [41]:
baseball_df

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

### Attributes of DataFrames

In [42]:
baseball_df.shape

(5, 4)

In [43]:
baseball_df.shape[0]

5

In [44]:
baseball_df.shape[1]

4

In [45]:
baseball_df.columns

Index(['City', 'Team', 'Division', 'League'], dtype='object')

In [46]:
baseball_df.index

RangeIndex(start=0, stop=5, step=1)

In [47]:
baseball_df.size

20

In [48]:
type( baseball_df )

pandas.core.frame.DataFrame

In [49]:
baseball_df.dtypes

City        object
Team        object
Division    object
League      object
dtype: object

In [50]:
type( baseball_df.dtypes )

pandas.core.series.Series

In [51]:
baseball_df.dtypes.index

Index(['City', 'Team', 'Division', 'League'], dtype='object')

### Methods of DataFrames

Use the `.head()` and `.tail()` methods to get a glimpse of the data.

In [52]:
baseball_df.head()

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

In [53]:
baseball_df.head(2)

         City     Team Division League
0  Pittsburgh  Pirates  Central     NL
1  Cincinnati     Reds  Central     NL

In [54]:
baseball_df.tail()

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

In [55]:
baseball_df.tail(2)

        City       Team Division League
3  St. Louis  Cardinals  Central     NL
4  Milwaukee    Brewers  Central     NL

In [56]:
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City      5 non-null      object
 1   Team      5 non-null      object
 2   Division  5 non-null      object
 3   League    5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

Describe the data set by calculating useful summary statistics per column.

In [57]:
baseball_df.describe()

              City     Team Division League
count            5        5        5      5
unique           5        5        1      1
top     Pittsburgh  Pirates  Central     NL
freq             1        1        5      5

Repeat making the DataFrame but also create the index and reorder the columns at creation.

In [58]:
baseball_df

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

In [59]:
baseball_df_b = pd.DataFrame(data=baseball_dict,
                             index=[33.5, 13, 24, 8.5, 0],
                             columns=['League', 'Division', 'City', 'Team'])

In [60]:
baseball_df_b

     League Division        City       Team
33.5     NL  Central  Pittsburgh    Pirates
13.0     NL  Central  Cincinnati       Reds
24.0     NL  Central     Chicago       Cubs
8.5      NL  Central   St. Louis  Cardinals
0.0      NL  Central   Milwaukee    Brewers

Let's subset our DataFrame to get the 0th row.

In [61]:
baseball_df_b[0]

KeyError: 0

Even if we use the correct index value we still get an error.

In [63]:
baseball_df_b[0.0]

KeyError: 0.0

Instead we need to be formal and specific we need to use the `.loc[]` and/or `.iloc[]` attributes.

In [64]:
baseball_df_b.loc[0.0]

League             NL
Division      Central
City        Milwaukee
Team          Brewers
Name: 0.0, dtype: object

In [65]:
baseball_df_b.iloc[0]

League              NL
Division       Central
City        Pittsburgh
Team           Pirates
Name: 33.5, dtype: object

In [66]:
baseball_df_b

     League Division        City       Team
33.5     NL  Central  Pittsburgh    Pirates
13.0     NL  Central  Cincinnati       Reds
24.0     NL  Central     Chicago       Cubs
8.5      NL  Central   St. Louis  Cardinals
0.0      NL  Central   Milwaukee    Brewers

In [67]:
baseball_df_b.iloc[0]

League              NL
Division       Central
City        Pittsburgh
Team           Pirates
Name: 33.5, dtype: object

In [68]:
baseball_df_c = baseball_df_b.sort_values(['Team'])

In [69]:
baseball_df_c

     League Division        City       Team
0.0      NL  Central   Milwaukee    Brewers
8.5      NL  Central   St. Louis  Cardinals
24.0     NL  Central     Chicago       Cubs
33.5     NL  Central  Pittsburgh    Pirates
13.0     NL  Central  Cincinnati       Reds

In [70]:
baseball_df_c.iloc[0]

League             NL
Division      Central
City        Milwaukee
Team          Brewers
Name: 0.0, dtype: object

In [71]:
baseball_df_b.loc[0.0]

League             NL
Division      Central
City        Milwaukee
Team          Brewers
Name: 0.0, dtype: object

In [72]:
baseball_df_c.loc[0.0]

League             NL
Division      Central
City        Milwaukee
Team          Brewers
Name: 0.0, dtype: object

In [73]:
baseball_df_c.reset_index()

   index League Division        City       Team
0    0.0     NL  Central   Milwaukee    Brewers
1    8.5     NL  Central   St. Louis  Cardinals
2   24.0     NL  Central     Chicago       Cubs
3   33.5     NL  Central  Pittsburgh    Pirates
4   13.0     NL  Central  Cincinnati       Reds

In [74]:
baseball_df_c.reset_index().index

RangeIndex(start=0, stop=5, step=1)

In [75]:
baseball_df_c

     League Division        City       Team
0.0      NL  Central   Milwaukee    Brewers
8.5      NL  Central   St. Louis  Cardinals
24.0     NL  Central     Chicago       Cubs
33.5     NL  Central  Pittsburgh    Pirates
13.0     NL  Central  Cincinnati       Reds

In [76]:
baseball_df_c.reset_index(drop=True, inplace=True)

In [77]:
baseball_df_c

  League Division        City       Team
0     NL  Central   Milwaukee    Brewers
1     NL  Central   St. Louis  Cardinals
2     NL  Central     Chicago       Cubs
3     NL  Central  Pittsburgh    Pirates
4     NL  Central  Cincinnati       Reds

In [78]:
baseball_df_d = baseball_df_b.sort_values(['Team'])

In [79]:
baseball_df_d

     League Division        City       Team
0.0      NL  Central   Milwaukee    Brewers
8.5      NL  Central   St. Louis  Cardinals
24.0     NL  Central     Chicago       Cubs
33.5     NL  Central  Pittsburgh    Pirates
13.0     NL  Central  Cincinnati       Reds

In [80]:
baseball_df_d.reset_index()

   index League Division        City       Team
0    0.0     NL  Central   Milwaukee    Brewers
1    8.5     NL  Central   St. Louis  Cardinals
2   24.0     NL  Central     Chicago       Cubs
3   33.5     NL  Central  Pittsburgh    Pirates
4   13.0     NL  Central  Cincinnati       Reds

In [81]:
baseball_df_d.reset_index(drop=True)

  League Division        City       Team
0     NL  Central   Milwaukee    Brewers
1     NL  Central   St. Louis  Cardinals
2     NL  Central     Chicago       Cubs
3     NL  Central  Pittsburgh    Pirates
4     NL  Central  Cincinnati       Reds

### Selecting columns

In [82]:
baseball_df_b

     League Division        City       Team
33.5     NL  Central  Pittsburgh    Pirates
13.0     NL  Central  Cincinnati       Reds
24.0     NL  Central     Chicago       Cubs
8.5      NL  Central   St. Louis  Cardinals
0.0      NL  Central   Milwaukee    Brewers

In [83]:
baseball_df_b['Team']

33.5      Pirates
13.0         Reds
24.0         Cubs
8.5     Cardinals
0.0       Brewers
Name: Team, dtype: object

In [84]:
type(baseball_df_b['Team'])

pandas.core.series.Series

In [85]:
baseball_df_b['City']

33.5    Pittsburgh
13.0    Cincinnati
24.0       Chicago
8.5      St. Louis
0.0      Milwaukee
Name: City, dtype: object

We can also use DOT NOTATION to select columns

In [86]:
baseball_df_b.Team

33.5      Pirates
13.0         Reds
24.0         Cubs
8.5     Cardinals
0.0       Brewers
Name: Team, dtype: object

In [87]:
baseball_df_b.City

33.5    Pittsburgh
13.0    Cincinnati
24.0       Chicago
8.5      St. Louis
0.0      Milwaukee
Name: City, dtype: object

In [88]:
the_cities = baseball_df_b.City

In [89]:
print( type( the_cities) )

<class 'pandas.core.series.Series'>

In [90]:
the_cities.columns

AttributeError: 'Series' object has no attribute 'columns'