In [1]:
# this is a comment in a code cell

## this is another comment

### another comment

2 + 2

3 * 3

9

In [2]:
# if we want to display or print multiple output
# we need to use the print() function

print( 2 + 2 )

print( 3 * 3 )

4
9

This is a markdown cell. We type text like Word.

Another markdown cell.

# This is a not comment

## This is still not a comment

### Yet again not a comment

The hashtag, #, in a markdown cell is a section header.

## Defining variables

In [3]:
x = 3

y = 7

We can use magic commands to find out what variables we have.

In [4]:
# magic command starts with %
%whos

Variable   Type    Data/Info
----------------------------
x          int     3
y          int     7

Let's define a new variable `z`.

In [5]:
z = x / y

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      3
y          int      7
z          float    0.42857142857142855

## Data types

In [7]:
type( x )

int

In [8]:
print( type(y) )

<class 'int'>

In [9]:
print( type(z) )

<class 'float'>

## Strings

In [10]:
my_string = 'abcde'

In [11]:
%whos

Variable    Type     Data/Info
------------------------------
my_string   str      abcde
x           int      3
y           int      7
z           float    0.42857142857142855

Strings have length in Python.

In [12]:
len(my_string)

5

We can subset or index via the `[]`.

In [13]:
my_string[1]

'b'

Python is **ZERO BASED INDEXED**.

In [14]:
my_string[0]

'a'

## Slicing

Provide the "beginning" or starting index and the total number of extract.

In [15]:
my_string[0:3]

'abc'

In [16]:
my_string[3]

'd'

In [17]:
len( my_string[0:3] )

3

In [18]:
my_string[:3]

'abc'

In [19]:
my_string[1:]

'bcde'

If we want to subset "backwards" from the end we need to use negatives.

In [20]:
my_string[-1]

'e'

In [21]:
my_string[-2]

'd'

## Lists

A structured data type that can contain multiple elements. It's sequential so we subset it through an index.

In [22]:
an_empty_list = []

In [23]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      abcde
x               int      3
y               int      7
z               float    0.42857142857142855

In [24]:
print(len(an_empty_list))

0

In [25]:
the_hobbits = ['frodo', 'sam', 'merry', 'pippin']

In [26]:
print( the_hobbits )

['frodo', 'sam', 'merry', 'pippin']

In [27]:
print(type(the_hobbits))

print( type(the_hobbits[0]) )

<class 'list'>
<class 'str'>

In [28]:
print(type(the_hobbits[1]) )

<class 'str'>

In [29]:
the_hobbits[1]

'sam'

Lists are heterogenous so they can store different types in each element.

In [30]:
another_list = [1, 1.0, 'one', "1.1"]

In [31]:
type(another_list)

list

In [32]:
print( type(another_list[0]), type(another_list[1]) )

<class 'int'> <class 'float'>

Lists can store other lists.

In [33]:
list_of_lists = [the_hobbits, another_list, 1.0]

In [34]:
type(list_of_lists)

list

In [35]:
type(list_of_lists[0])

list

In [36]:
list_of_lists

[['frodo', 'sam', 'merry', 'pippin'], [1, 1.0, 'one', '1.1'], 1.0]

## Iteration

In [37]:
print(type(another_list[2]))

<class 'str'>

In [38]:
print(type(another_list[0]))

print(type(another_list[1]))

print(type(another_list[2]))

print(type(another_list[3]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

Use a for-loop to **iterate** over something.

We can define a sequence to iterate over.

The `range()` function will create a **generator** of integers.

In [39]:
range(4)

range(0, 4)

In [40]:
type(range(4))

range

In [41]:
for n in range(4):
    # i'm in the forloop
    print(n)

0
1
2
3

In [42]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
another_list    list     n=4
list_of_lists   list     n=3
my_string       str      abcde
n               int      3
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

Indentation is very important!

In [43]:
for new_n in range(4):
    print(new_n, n)

0 3
1 3
2 3
3 3

In [44]:
for m in range(4):
    print(m, new_n, n) # in the for-loop
# out of the forloop
print(m, new_n, n)

0 3 3
1 3 3
2 3 3
3 3 3
3 3 3

Iterate over a list with `range()`.

In [45]:
for n in range(len(the_hobbits)):
    print( the_hobbits[n] )

frodo
sam
merry
pippin

However, a for-loop can iterate over any sequence.

In [46]:
for a_hobbit in the_hobbits:
    print( a_hobbit )

frodo
sam
merry
pippin

In [47]:
for a_hobbit in the_hobbits:
    print( type(a_hobbit) )

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [48]:
for element in another_list:
    print( type(element) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

Let's iterate over the list of lists.

In [49]:
for ll in list_of_lists:
    print( ll )

['frodo', 'sam', 'merry', 'pippin']
[1, 1.0, 'one', '1.1']
1.0